<div class="container" style="width: 30%">
  <div class="col-sm", style='padding-left: 25px'>
    <h1>Add Discount</h1>
    <%= render partial: 'partials/merchant_bulk_discount_form', locals: { show_page: false } %>
  </div>
</div>